.btn {
	width: 180px;
	z-index: 1;
	overflow: hidden;
	transition: all 200ms ease;
	text-align: center;
	cursor: pointer;
	border: 3px solid #333234;
	background-color: transparent;
	text-transform: uppercase;
	font-family: 'Blender Pro';
	letter-spacing: 2px;
	font-size: 14px;
	margin-top: 24px;
	color: #333234;
	padding: 12px 36px;
	border-radius: 4px;
	a {
		text-decoration: none;
		color: #333234
	}
	&:hover {
		background-color: #333234;
		a {
			color: #f1f1f1;
		}
	}
	@media (max-width: 900px) {
		.btn {
			margin-top: 14px;
			font-size: 14px;
			padding: 8px 24px;
			width: 160px;
		}
	}
	@media (max-width: 576px) {
		.btn {
			margin-top: 14px;
			font-size: 14px;
			padding: 8px 24px;
			width: 160px;
		}
	}
}