$gray-1: #595959;
$light-gray-1: #f2f2f2;
$light-gray-2: #ececec;
$dark-gray: #3f3f3f;
$light-gray-3: #e9e9e9;

$eerie-black: #1C1C1C;
$platinum: #EAECE9;
$alabaster: #ECEBE4;
$off-white: #EEF0F2;
$ghost: #FAFAFF;